# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c894a0b6e7e71f791971a48f1296895e5f7447a21c350d51de71c45323d1fa03ac38316dc177c81bad91b6531da005f3200f1e0a349d7f93fdc8437d4448c4c6

test:
  secret_key_base: 3fb8fc418de8c0a2d8c767dd846608d7fe926d84c984e8356c08544982e287d0881f667164fbe11368e367b6d4e59b56fe4a23b4a54e449a8153b5ae71e26436

sand:
  secret_key_base: <%= ENV["secret_key_base"] %>

production:
  secret_key_base: <%= ENV["secret_key_base"] %>
